<ng-pane-manager id="man" #man [layout]="paneLayout"></ng-pane-manager>

<div *ngPane="let panel named 'main1' for man withTitle 'Main' withIcon 'http://rk1024.net/images/rk.png'"
    class="pane-content" style="background: #18a">
    My title is {{panel.title | async}}!
    <br>
    My icon is <a href="{{panel.icon | async}}">here</a>.
    <br>
    Main content
</div>

<div *ngPane="let panel named 'main2' for man withTitle 'More' withIcon 'http://rk1024.net/images/rk.png'"
    class="pane-content" style="background: #17b">
    More content
</div>

<div *ngPane="let panel named 'sideLeft' for man withTitle 'Left' withIcon 'http://rk1024.net/images/rk.png'"
    class="pane-content" style="background: #765">
    Left sidebar
</div>

<div *ngPane="let panel named 'sideRight' for man withTitle 'Right' withIcon 'http://rk1024.net/images/rk.png'"
    class="pane-content" style="background: #567">
    Right sidebar
</div>

<div *ngPane="let panel named 'top' for man withTitle 'Toolbar' withIcon 'http://rk1024.net/images/rk.png'"
    class="pane-content" style="background: #3a3">
    Toolbar
</div>

<div *ngPane="let panel named 'bottom1' for man withTitle 'Bottom 1' withIcon 'http://rk1024.net/images/rk.png'"
    class="pane-content" style="background: #a43">
    Bottom tab 1
</div>

<div *ngPane="let panel named 'bottom2' for man withTitle 'Bottom 2' withIcon 'http://rk1024.net/images/rk.png'"
    class="pane-content" style="background: #a36">
    Bottom tab 2
</div>

<div *ngPane="let panel named 'bottom3' for man withTitle 'Bottom 3' withIcon 'http://rk1024.net/images/rk.png'"
    class="pane-content" style="background: #b22">
    Bottom tab 3
</div>