<ng-pane-manager id="man" [(layout)]="paneLayout"></ng-pane-manager>

<app-motd *ngPaneTemplate="let pane named 'motd'; let extra = extra" [motd]="extra.motd" [title]="extra.title"
    (header)="pane.header = $event"></app-motd>

<app-editor *ngPaneTemplate="let pane named 'editor'; let extra = extra" [title]="extra.title"
    (header)="pane.header = $event"></app-editor>

<div *ngPaneTemplate="let panel named 'top' withHeader header('hidden', 'Toolbar', 'assets/icon.png', false);
    let extra = extra" class="pane-content" style="background: #3a3">
    Toolbar
    <p>
        This is a demo of <a href="https://github.com/openopus/ng-pane-manager2" target="_blank"
            rel="noopener noreferrer">angular-pane-manager</a>! Drag any tab or header to move a pane.
    </p>
    <p>
        Feel free to refresh the page &mdash; the grid layout will be saved and restored, just for you!
    </p>
    <button (click)="resetLayout()">Reset Layout</button>
</div>

<ng-template #main1Motd>
    <div style="background: #eee">
        <em>Eat your ｖｅｇｅｔａｌ</em>
    </div>
</ng-template>

<ng-template #main2Motd>
    <div style="background: #aaa">
        <strong>Consume ｄｒｉｎｃｃ</strong>
    </div>
</ng-template>

<div *ngPaneTemplate="let panel named 'sideLeft' withHeader header('visible', 'Left', 'assets/icon.png', true)"
    class="pane-content" style="background: #765">
    Left sidebar
</div>

<div *ngPaneTemplate="let panel named 'sideRight' withHeader header('visible', 'Right', 'assets/icon.png', true)"
    class="pane-content" style="background: #567">
    Right sidebar
</div>

<div *ngPaneTemplate="let panel named 'bottom1' withHeader header('alwaysTab', 'Bottom 1', 'assets/icon.png', true)"
    class="pane-content" style="background: #a43">
    Bottom tab 1
</div>

<div *ngPaneTemplate="let panel named 'bottom2' withHeader header('alwaysTab', 'Bottom 2', 'assets/icon.png', true)"
    class="pane-content" style="background: #a36">
    Bottom tab 3
</div>

<div *ngPaneTemplate="let panel named 'bottom3' withHeader header('alwaysTab', 'Bottom 3', 'assets/icon.png', true)"
    class="pane-content" style="background: #b22">
    Bottom tab 3
</div>